data/binary
data/raw
data/results
data/test
data/*
.vscode
.pth.tar
*.pickle
__pycache__
artifacts/
wandb/

*.egg-info

*.zip


notebooks/*.jpg
*.jpg
*.tiff

*.pth.tar
*embeddings.ipynb

*.png
**.png
*.pth

*.csv
*.xlsm
*.xlsx
.idea
