python-decouple==3.8
future
requests-toolbelt
opencv-python
shapely
rasterio
tqdm
typer[all]
gdown==4.2.1 
scipy 
matplotlib 
tqdm 
pandas
torch
scikit-learn
torchvision
albumentations
segmentation-models-pytorch==0.3.3
kaggle
mmengine