[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://download.pytorch.org/whl/cu118"
verify_ssl = false
name = "torch"

[packages]
torch = "*"
torchvision = "*"
torchaudio = "*"
matplotlib = "*"
pillow = "*"
numpy = "*"
pandas = "*"
tensorflow = "*"
scikit-learn = "*"
transformers = "*"
renumics-spotlight = "*"
plotly = "*"
nbformat = "*"
ipykernel = "*"
efficientnet-pytorch = "*"
lightly = "*"
huggingface = "*"
datasets = "*"
tokenizers = "*"
evaluate = "*"
python-decouple = "==3.8"
future = "*"
requests-toolbelt = "*"
opencv-python = "*"
shapely = "*"
rasterio = "*"
tqdm = "*"
gdown = "==4.2.1"
scipy = "*"
albumentations = "*"
segmentation-models-pytorch = "==0.3.3"
kaggle = "*"
mmengine = "*"
typer = {extras = ["all"], version = "*"}
terumo-seg-esclerose = {path = "C:/Users/Maods/Downloads/terumo-seg-esclerose-main/terumo-seg-esclerose-main"}

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.10"
python_full_version = "3.10.4"
